# git ignore file for pal project

build/config.mak
build/cppunit_result.*
build/Makefile.version
build/scxtestrunner.log

installer/InstallBuilder/*.pyc
installer/InstallBuilder/unittests/staging

intermediate/
target/
